<h2>
    <span class="step-icon"><i class="zmdi zmdi-receipt"></i></span>
    <span class="step-number">Paso 4</span>
    <span class="step-text">Detalle de confirmación</span>
</h2>
<section>
    <div class="inner">
        <h3>Confirmar Detalles</h3>
        <div class="form-row table-responsive">
            <table class="table">
                <tbody>
                <tr class="space-row">
                    <th>Numero de Estación:</th>
                    <td id="username-val"></td>
                </tr>
                <tr class="space-row">
                    <th>Folio ticket:</th>
                    <td id="email-val"></td>
                </tr>
                <tr class="space-row">
                    <th>Uso del CFDI:</th>
                    <td id="card-type-val"></td>
                </tr>
                <tr class="space-row">
                    <th>RFC:</th>
                    <td id="card-number-val"></td>
                </tr>
                <tr class="space-row">
                    <th>Razón social:</th>
                    <td id="cvc-val"></td>
                </tr>
                <tr class="space-row">
                    <th>Forma de pago:</th>
                    <td id="cvcx-val">Efectivo</td>
                </tr>
                <tr class="space-row">
                    <th>Email:</th>
                    <td id="emailx-val">publico@avaloninformatica.com</td>
                </tr>
                </tbody>
            </table>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <button type="button" >
                            <i class="fa fa-file"
                               style="font-size:20px;color:black;cursor:hand;">
                                <a
                                        href="/static/filesPAC/AIS021008E60GAGFK922111.pdf"
                                        download="AIS021008E60GAGFK922111.pdf">
                            </i> Descargar en PDF
                            </a>
                        </button>
                    </div>
                    <div class="col-sm">
                        <button type="button" >
                            <i class="fa fa-file"
                               style="font-size:20px;color:black;">
                                <a href="/static/filesPAC/AIS021008E60GAGFK922111.xml"
                                   download="AIS021008E60GAGFK922111.xml">
                            </i> Descargar en XML
                            </a>
                        </button>
                    </div>
                    <div class="col-sm">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>