<h2>
    <span class="step-icon"><i class="zmdi zmdi-account"></i></span>
    <span class="step-number">Paso 2</span>
    <span class="step-text">Información del ticket</span>
</h2>
<section>
    <div class="inner">
        <div class="form-row">
            <div class="form-holder form-holder-2">
                <label for="email">Folio ticket*</label>
                <input type="text" placeholder="Folio ticket" class="form-control" id="email" name="email" required >
            </div>
        </div>
        <div class="form-row" id="esc2">
            <div class="form-holder">
                <label for="password">Fecha del ticket*</label>
                <input type="text" placeholder="Fecha del ticket" class="form-control" id="password" name="password" required >
            </div>
            <div class="form-holder">
                <label for="confirm_passwordx">Folio WEB*</label>
                <input type="text" placeholder="Folio WEB" class="form-control" id="confirm_passwordx" name="confirm_passwordx" required>
            </div>
        </div>
    </div>
</section>