<h2>
    <span class="step-icon"><i class="zmdi zmdi-account"></i></span>
    <span class="step-number">Paso 1</span>
    <span class="step-text">Información de Estación</span>
</h2>
<section>
    <div class="inner">
        <div class="form-row">
            <div class="form-holder form-holder-2">
                <label for="input-datalist">Numero de Estación*</label>
                <input type="text" class="form-control" placeholder="Numero de estación" list="listEstaciones" id="input-datalist" required>
                <datalist id="listEstaciones">
                </datalist>
            </div>
        </div>
    </div>
</section>