<h2>
    <span class="step-icon"><i class="zmdi zmdi-account"></i></span>
    <span class="step-number">Paso 1</span>
    <span class="step-text">Información de Estación</span>
</h2>
<section>
    <div class="inner">
        <div class="form-row">
            <div class="form-holder form-holder-2">
                <label for="input-datalist">Numero de Estación*</label>
                <input type="text" class="form-control" placeholder="Numero de estación" list="listEstaciones" id="input-datalist" required>
                <datalist id="listEstaciones">
                </datalist>
            </div>
            <button class="form-ayuda" type="button" th:onclick="'javascript:mostrarAyuda1()'">
                <i class="fa-solid fa-circle-question"></i>
            </button>
        </div>
    </div>
</section>
<style>
    .form-ayuda{
        display:inline-block;
        height: fit-content;
    }
</style>
<script>
    function mostrarAyuda1() {
        Swal.fire({
            title: 'Ticket',
            text: '',
            imageUrl: '/static/images/TicketNoEstacion.png',
            imageWidth: 264,
            imageHeight: 462,
            imageAlt: 'Ticket con NoEstacion señalado',
        })
    }
</script>
