<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="es" th:fragment="wizard">
<head>
	<meta charset="utf-8">
	<title>Facturación Avalon</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/raleway-font.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/static/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css}">
	<!-- Jquery -->
	<link rel="stylesheet" th:href="@{/static/css/site-demos.css}">
	<!-- Main Style Css -->
	<link rel="stylesheet" th:href="@{/static/css/style.css}"/>
</head>
<body >
<div class="page-content" style="background-image: url('/static/images/wizard-v1.jpg')">
	<div class="wizard-v1-content">
		<div class="wizard-form">
			<form class="form-register" id="form-register" action="#" method="post">
				<div id="form-total">
					<!-- SECTION 0 -->
					<div id="sec0" th:replace="/fragments/step1.html"></div>
					<!-- SECTION 1 -->
					<div id="sec1" th:replace="/fragments/step2.html"></div>
					<!-- SECTION 2 -->
					<div id="sec2" th:replace="/fragments/step3.html"></div>
					<!-- SECTION 3 -->
					<div id="sec3" th:replace="/fragments/step4.html"></div>
				</div>
			</form>
		</div>
	</div>
</div>
<script th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script th:src="@{/static/js/jquery.steps.js}"></script>
<script th:src="@{/static/js/main.js}"></script>
<script defer src="https://use.fontawesome.com/releases/v6.1.1/js/all.js" integrity="sha384-xBXmu0dk1bEoiwd71wOonQLyH+VpgR1XcDH3rtxrLww5ajNTuMvBdL5SOiFZnNdp" crossorigin="anonymous"></script>
<script>
	window.addEventListener("load", function() {

		// create and populate datalist
		const nameArray = ["6050 Valero Nacozari",
			"6500 Valero Quinta Avenida",
			"2584 Fosell Ojo Caliente",
			"3245 Valero Maestros",
			"4564 Valero Servicios y Refinados AGS",
			"8546 Panamericana - Aguascalientes",
			"1452 Valero El Arco",
			"4566 Valero Dayco",
			"4788 Teoloyucan",
			"3221 Huehuetoca",
			"4555 Servicio Chiconautla"];

		$.each(nameArray, function(i, item) {
			$("#listEstaciones").append($("<option>").attr('value', item).text(item));
		});

	});
</script>
<script>
	$(document).ready(function(){
		$('#nextBtn').click(function(){
			const nameArray = ["6050 Valero Nacozari",
				"6500 Valero Quinta Avenida",
				"2584 Fosell Ojo Caliente",
				"3245 Valero Maestros",
				"4564 Valero Servicios y Refinados AGS",
				"8546 Panamericana - Aguascalientes",
				"1452 Valero El Arco",
				"4566 Valero Dayco",
				"4788 Teoloyucan",
				"3221 Huehuetoca",
				"4555 Servicio Chiconautla"];
			//do something
			const index = $("#form-total").steps('getCurrentIndex');
			if (index===1){
				const estacion = document.getElementById('input-datalist').value
				console.log(estacion)
				const i = jQuery.inArray(estacion,nameArray)
				if (i===-1){
					Swal.fire({
						icon: 'error',
						title: 'Oops...',
						text: 'Seleccione una estación de la lista!',
						footer: '',
						allowOutsideClick: false
					}).then((result) => {
						if (result.isConfirmed) {
							location.reload();
						}
					})
					$("#form-total").steps('previous')
				} else { // FUNCIONALIDAD DE LOS ESCENARIOS
					if (estacion==="6500 Valero Quinta Avenida"){
						$('#esc2').hide(); //oculto mediante id
						$('#tablaEsc2').hide();
					} else {
						$('#tablaEsc1').hide();
					}
				}
			} else if (index===3){
				const email = document.getElementById('emailx').value
				$.get("/mail?email=" + email);
			}
		});
	});
</script>
<script th:src="@{/static/js/sweetalert2.all.min.js}"></script>
</body>
</html>